@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cascading-menu-autores {
    position: absolute;
    top: 60px; /* Ajuste a distância do topo para colocar o menu acima da imagem */
    width: 100%;
    text-align: center;
    z-index: 50; /* Coloca o menu abaixo do cabeçalho */
}

.cascading-menu-autores ul {
    list-style: none;
    padding: 0;
}

.cascading-menu-autores li {
    display: inline;
    margin: 0 15px;
}

.cascading-menu-autores a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

.cascading-menu-autores a:hover {
    color: orange;
}

.titulo-autores{
    margin-top: 5%;
    margin-left: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0.7rem;
    justify-content: center;
}

.author-section{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    justify-content: space-between;
}

.author-photo{
    width: 100px;
    padding: auto;
    border-radius: 50px;
    width: 100px;
    height: 133.333px;         
}

.author-name{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    min-height: 60px;
}

.social-links{
    display: flex;
    justify-content: center;
    justify-self: stretch;
    padding: 5px;
    margin-top: auto;
}

svg{
    padding-left: 3px;
    padding-right: 3px;
}

@media (max-width: 480px) {
    h1 {
    font-size: 1.8em;
    }
    .author-section {
        max-width: 90%; 
        margin: 10px;
    }
    .author-section h3 {
        font-size: 1em;
    }
}